<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <title>404</title>
    </head>

    <body class="center">
        <section class="center">
            <div>
                <h1>404</h1>
            </div>
            <h2>This page does not exist!</h2>
            <form action="/home" method="post">
                <input type="submit" value="Return Home">
            </form>
        </section>
    </body>

</html>