{% extends "layout.html" %}
{% block title %}Postaverse - Info{% endblock %}
{% block pageName %}Info{% endblock %}
{% block content %}
<br>
<h1>-- Important --</h1>
<h3>Postaverse does not use your private information in any way.</h3>
<h3>Your password is only used so you can log in and change your password.</h3>
<h3>Passwords are encrypted and stored securely in a server-side database.</h3>
<h3>The single cookie is required for the site to work to make sure you are logged in and have a user id.</h3>
<h3>The above is required by <a class="see"
        href="https://www.onetrust.com/blog/gdpr-compliance/#:~:text=At%20its%20core%2C%20GDPR%20Compliance%20means%20an%20organization,which%20limit%20how%20personal%20data%20can%20be%20used."
        target="_blank">GDPR</a> for users to know and have the ability to change personal information.</h3>
<h3>In this case, the personal information is your password and soon email.</h3>
<h3>If you are under 13 years of age, please use this site with caution, as required by <a class="see"
        href="https://www.ftc.gov/legal-library/browse/rules/childrens-online-privacy-protection-rule-coppa"
        target="_blank">COPPA</a></h3>
<br>
<br>
<h1>How to use Postaverse</h1>
<h3>Go to Create Post to make a new post.</h3>
<h3>Tap on someone's name on a post to go to their profile.</h3>
<h3>Tap on a post's content to view the post's page.</h3>
<h3>You can like and comment from a post's page.</h3>
{% endblock %}